@charset "UTF-8";

html{
    font-size:var(--root-font-size);
}

body,h1,h2,h3,h4,h5,h6,p,ul,li,figure{
    margin:0;
    padding:0;
    list-style:none;
}
body{
    box-sizing:border-box;
}


:root{
    --root-font-size:5vh;
}

/* 全体*/
.wrapper{
    height:auto;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}


.NONE{
    display:none;
}



/*横長*/
@media (orientation: landscape){
    :root{
        --root-font-size:5vw;
    }
    .wrapper .container_A{
        background: linear-gradient(270deg, rgb(255, 252, 93) 0%, rgb(255, 255, 160) 70%, rgb(255, 141, 175) 100%);
    }
}
